<h1>Hello</h1>

<p>
You was invited by <%= @invitation.invited_by_user.name %> to join the team <%= @invitation.team.slug %> 
</p>

<p>Please click <a href="<%= @url %>">here</a> to accept the invitation </p>
